summary:after 
{
	content: '▸';
	margin: 0 0 0 2rem;
	display: inline-block;
	position: relative;
	top: -0.2rem;
}

details[open] > summary:after 
{
	content: '▾';
}

summary
{
	font-family: 'Inter','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #222;
	font-size: 26px;  
	margin-top: 21px;
	margin-bottom: 10.5px;
	font-weight: 300;
	line-height: 1.1;
}

details.minor summary
{
	font-variant: none;
	font-size: 15px;
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}